target/
test-output/

CucumberbddFramework/test-output/**

CucumberbddFramework/target/**

CucumberbddFramework/target/*

CucumberbddFramework/target/test-classes/**

*/test-classes/**

test-classes/**

CucumberbddFramework/target/classes/**

*/target/**

*/classes/**
.*